.newsletter__title {
  margin: 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.14px;
}

.newsletter__field {
  padding: 14px 56px 14px 46px;
  border: none;
  color: #ffffff;
  font-family: "Chakra Petch", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
