.page {
  min-height: 100%;
  margin: 0;
  font-family: "Chakra Petch", "Arial", sans-serif;
  font-weight: 300;
  background-color: #18181b;
}

.page__title {
  margin: 0 0 16px 0;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.16px;
}
